#!/usr/bin/env sh

# sourcing this file to .xinitrc, contains some basic things
mpd &
# remaps &		# remaps script for changing Multi_key to super
# xmodmap -e 'keycode 108 = Super_R'
#setbg &
sxhkd &
#compton &
dunst &
xset r rate 400 60 &
notify-send "Welcome to region of raytracer" "Enjoy!"
