snippet memain
	// main function <<<
	int main(int argc, char* argv[]) {
		${1:content}
		return 0;
	}
	// >>>
	${2:outof_main}
snippet infh
	/** Name -> Abhay Shanker Pathak
	Date -> ${1}
	Description -> ${2}
	Email -> abhaysp9955@gmail.com
	Github -> https://github.com/CoolAbhayS
	Last Edit -> ${3} */


	#include<stdio.h>
	${4}
