snippet doch
	"""
	Author: Abhay Shanker Pathak
	Date: ${1:date}
	Description: ${2:tell me}
	Email: abhaysp9955@gmail.com
	Last Edit: ${3:date}
	"""


	${4}
snippet pmark
	# ${1:detail} <<<
	${2}
	# >>>
	${3}
snippet '''
	'''${1}'''${2}
snippet """
	"""${1}"""${2}
