snippet doch
	"""
	Author: Abhay Shanker Pathak
	Date: $1
	Description: ${2:tell me}
	Email: abhaysp9955@gmail.com
	Last Edit: $1
	"""


	$0
snippet pmark
	# ${1:detail} <<<
	$2
	# >>>
	$0
snippet '''
	'''$1'''$0
snippet """
	"""$1"""$0
